* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #0B132C;
    color: #729FCF;
    font-family: sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    padding: 0 10px;
    box-sizing: border-box;
}

.hero img {
    max-width: 45%;
    height: auto;
}

.hero div {
    width: 50%;
}

.hero h1 {
    color: #F0F0F0;
    font-size: 5em;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.hero p {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons button {
    border: 2px solid #729FCF;
    background-color: transparent;
    color: #729FCF;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
    font-size: 18px;
}

.buttons button.download {
    background-color: #729FCF;
    color: #0B132C;
    font-weight: bold;
}

.buttons button:hover {
    background-color: #729FCF;
    color: #F0F0F0;
}

.installation-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.installation-guide h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.options {
    display: flex;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    justify-content: center;
}

.option {
    background-color: #1C2331;
    color: #F0F0F0;
    width: 45%;
    padding: 20px;
    border-radius: 5px;
}

.option h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.option h4 {
    color: #FF7F50;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;;
}

.option ul {
    list-style-type: none;
    padding-left: 20px;
}

.option li {
    margin-bottom: 20px;
}

.option p {
    font-size: 18px;
    line-height: 1.6;
    color: #F0F0F0;
    margin-bottom: 10px;
}

.option img {
    width: 100%;
    height: auto;
}

#memory-settings li div {
    width: 80px;
    display: inline-block;
}

a:link {
    color: #FF7F50;
}

a:visited {
    color: #4873A6;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
}

.copyright {
    text-align: left;
}

.ai-credit {
    text-align: right;
}

@media (max-width: 1108px) {
    .options {
        flex-direction: column;
    }

    .option {
        width: 100%;
        margin-bottom: 20px;
    }
}

section.more-info {
    margin-top: 15vh;
}

.more-info {
    text-align: center;
    padding: 20px;
}

.more-info h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.more-info-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: left;
}

.more-info-content div {
    width: 45%;
}

.more-info-content img {
    max-width: 100%;
    height: auto;
}

.more-info-content h3 {
    color: #FF7F50;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.more-info-content p {
    color: #F0F0F0;
    font-size: 1em;
    margin-bottom: 30px;
}

@media (max-width: 1108px) {
    .more-info-content {
        flex-direction: column;
    }

    .more-info-content div {
        width: 100%;
    }
}